name: Example
on: [push]
jobs:
  example-job:
    strategy:
      matrix:
         os: [macos-latest, ubuntu-latest, windows-latest]
         node-version: [10.x, 12.x]

    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Display environemt
        run: |
          echo "node: " + node --version
          echo "npm: " + npm --version
          ls

    
# Questions
# bulk comment?
# is yaml === yml?
# when to use "-" ?
# any experience with GHA's intellisence?  It doesn't seem to work very often.



